$circle-size: 100px;

.wp-pros-cons {
	background: #F9F9F9;

	a {
		text-decoration: none;
	}

	.wp-pros-cons-heading {
		font-size: 18px;
		text-align: center;
	}

	.wppc-boxs {
		display: flex;
		flex-flow: row wrap;
		>div {
			flex: 1 0 0%;
		}
		.wppc-box {
			background: #fff;
			margin: 0 15px;
			border: 1px solid #eee;
			.wppc-header .wppc-content-title {
				margin: 0;
				padding: 0;
			}
		}
	}

	.wppc-box-symbol {
		width: $circle-size;
		height: $circle-size;
		position: relative;
		border-radius: 100%;
		margin: 0 auto;

		[class*="fa"] {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			font-size: 26px;
		}
	}

	.pros-content {
		.wppc-box-symbol {
			color: #fff;
			background: #27C110;
		}
	}

	.cons-content {
		.wppc-box-symbol {
			color: #fff;
			background: red;
		}
	}

	ul.wp-pros-cons-list {
		list-style: none;
		margin: 0;
		padding: 0 20px;

		li {
			position: relative;
			display: flex;
			margin: 10px 0;

			&:before {
				content: "\f00c";
				color: #00bf08;
				font-weight: 900;
				padding-right: 5px;
				font-family: 'Font Awesome\ 5 Free';
			}
		}
	}

	.cons-content ul.wp-pros-cons-list li:before {
		content: "\f00d";
		color: red;
	}

	.wppc-btn-wrapper {
		text-align: center;
		margin: 25px 0;
		.wp-btn {
			background: #212121;
			color: #fff;
			box-shadow: none;
			padding: 12px 25px;
			font-size: 24px;
			line-height: 1.2;
			font-weight: 300;
			border-radius: 60px;
			display: inline-block;
			&:hover,
			&:focus {
				background: darken($color: #212121, $amount: 0.5);
			}
		}
	}
	&.wppc-view1 {
		.wppc-boxs {
			margin-top: calc(#{$circle-size} / 2);
			.wppc-header {
				margin-bottom: 20px;
				margin-top: calc(-#{$circle-size} / 2);
				text-align: center;
				.wppc-content-title {
					margin-top: 10px;
				}
			}
		}
	}
	&.wppc-view2 {
		background: transparent;
		.wppc-boxs .wppc-box {
			border-width: 2px;
			border-style: solid;
			border-radius: 4px;
		}
		.wppc-header {
			padding: 20px;
		}
		.pros-content {
			border-color: #00bf08;
			.wppc-header {
				background: #00bf08;
				color: #fff;
			}
		}

		.cons-content {
			border-color: red;
			.wppc-header {
				background: red;
				color: #fff;
			}
		}
	}
	&.wppc-view3 {
		background: transparent;
		.wppc-boxs .wppc-box {
			border-radius: 4px;
		}
		.wppc-header {
			padding: 20px;
		}
		.pros-content {
			.wppc-header {
				background: #00bf08;
				color: #fff;
			}
		}

		.cons-content {
			.wppc-header {
				background: red;
				color: #fff;
			}
		}
	}
}

.wp-pros-cons .wppc-btn-wrapper a.wp-btn {
    width: 50%;
}

.wp-pros-cons .wppc-btn-wrapper .components-autocomplete {
    margin-bottom: 10px;
}

.wp-pros-cons .editor-url-input {
	display: inline-block;
}

.wp-pros-cons .components-button {
	vertical-align: middle;
}