/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-tc-block-prosandcons  {
  background: $green;
  border: 0.2rem solid $red;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.wp-pros-cons * {
    margin: 0;
    padding: 0;
}

.wp-pros-cons *,
.wp-pros-cons div {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.wp-pros-cons {
    background: #f9f9f9;
    margin: 30px auto;
    border: dashed 2px #28b914;
    width: 100%;
    max-width: 963px;
    padding: 30px 0 30px 0;
}

.wp-pros-cons .wp-pros-cons-title {
     text-align: center;
     color: #1a1a1a;
     font-size: 28px;
     font-weight: normal;
     margin: 0 0 20px;
}

.wp-pros-cons .wp-pros-cons-sections {
    display: block;
    margin: 40px 0 0 0;
    padding-top: 58px;
    min-width: 100%;
}

.wp-pros-cons-img-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
}

.wp-pros-cons-col {
    width: 50%;
    display: block;
    padding: 0 15px;
    float: left;
}

.wp-pros-cons .section {
    width: 100%;
    background: #fff;
    position: relative;
    text-align: left;
    padding: 0 15px;
    padding-bottom: 45px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
}

.wp-pros-cons-img-wrap {
     text-align: center;
     margin-top: -58px;
     margin-bottom: 25px;
}

.wp-pros-cons-img-container img {
    width: 46px !important;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.wp-pros-cons .bg-green {
    background-color: #28b914;
}

.wp-pros-cons .bg-red {
    background-color: #ff0b0b;
}


.wp-pros-cons .section-title {
    font-size: 28px;
    color: #252525;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0;
}


.wp-pros-cons ul {
    margin: 0;
    padding: 0;
    list-style: outside none none !important;
}

.wp-pros-cons .wp-pros-cons-col .wpc_cons_list,
.wp-pros-cons .wp-pros-cons-col .wpc_pros_list {
    margin: 0 !important;
    padding: 0 0 0 10px !important;
    list-style-type: none !important;
}

.wp-pros-cons ul li {
    font-size: 18px;
    color: #3b3b3b;
    margin: 12px 0;
    white-space: normal;
    word-break: break-word;
}

.wp-pros-cons .wp-pros-cons-col .wpc_cons_list li,
.wp-pros-cons .wp-pros-cons-col .wpc_pros_list li {
     margin: 12px 0 !important;
     padding-left: 30px !important;
}

.wp-pros-cons ul li:before,
.wp-pros-cons ul li:after {
    display: none !important;
}

.wp-pros-cons .pros-section ul li {
    padding-left: 30px;
    background-size: 18px 17px;
	list-style: outside none none !important;
    background: url('../images/check.png') no-repeat top 8px left;
}

.wp-pros-cons .cons-section ul li {
    padding-left: 30px;
    background-size: 18px 17px;
	list-style: outside none none !important;
    background: url('../images/cross.png') no-repeat top 8px left;
}

.wp-pros-cons .wp-pros-cons-btn-wrap {
    text-align: center;
    margin-top: 30px;
}

.wp-pros-cons a {
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    background: #212121;
    padding: 12px 25px;
    border-radius: 60px;
    display: inline-block;
}

.wpc-top-icons {
    color: 'white';
	font-size: 35px;
	vertical-align: 'middle';
	margin-top: 30px;
}

@media (min-width:768px) {
    .wp-pros-cons .wp-pros-cons-sections {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .wp-pros-cons-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width:1024px) {
    .wp-pros-cons {
        padding: 20px 20px;
    }
}

@media (max-width:767px) {

    .wp-pros-cons .wp-pros-cons-sections:before,
    .wp-pros-cons .wp-pros-cons-sections:after {
        content: "";
        display: block;
        float: none;
        clear: both;
        width: 100%;
    }

    .wp-pros-cons {
        width: 100%;
        padding: 20px 15px;
    }

    .wp-pros-cons-col {
        width: 100%;
        padding: 0;
    }

    .wp-pros-cons-col:first-child {
        margin-bottom: 90px;
    }

    .wp-pros-cons .section-title {
        margin-bottom: 20px;
    }

    .wp-pros-cons .wp-pros-cons-btn-wrap {
        text-align: center;
        margin-top: 25px;
    }

    .wp-pros-cons a {
        font-size: 24px;
        padding: 15px 35px;
        line-height: 1;
    }
}
