/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-tc-block-prosandcons  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

i.wpc-top-icons {
  color: white;
  font-size: 36px;
  font-weight: normal;
  vertical-align: middle;
  margin-top: 30px;  
}

.wp-pros-cons-btn-wrap a.cta-btn {
  background: black;
  color: white;
  cursor: pointer;
  user-select: none;
}

.components-autocomplete a.cta-btn {
  background: red;
}